/*
--------------------------------------
IMPORTS
-------------------------------------*/
@import 'master/color';
@import 'master/fonts';
@import 'master/_reset';
@import 'master/_device';
@import 'type';
@import 'base';
@import 'nav';
/*
-------------------------------------
IMAGES
-------------------------------------*/
.img { 
    width: 100%;
    box-sizing: border-box;
    .img-main {
        > tbody > tr > td > img { 
            /*padding-bottom: 40px;*/
        }
    }
    &.hero {
        .img-main > tbody > tr > td > img {
            /*padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;*/
        }
    }
}
img {
    font-family: $sans-serif;
    font-size: 16px;
    color: $black;
}
/*
-------------------------------------
BUTTONS
------------------------------------- */
.btn {
    width: 100%;
    Margin: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    .btn-main {
        td > a {
            width: 100%;
            display: block;
            Margin: 0;
            margin: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-family: $sans-serif;
            font-size: 16px;
            font-weight: 600;
            font-weight: bold;
            text-align:center; 
            letter-spacing: 1px;
            text-decoration: none;
            color: $white;
            background-color: $red;
            cursor: pointer;
            box-sizing: border-box;
            &:hover {
                background-color: $darkred !important;
                border-color: $darkred !important;
            }
        }
    }
}
/*
-------------------------------------
BODY COPY
------------------------------------- */
.txt {
    .txt-main {
        .inline {
            h1, h2, h3, h4, h5, h6, p {
                text-align: center;
            }
        }
    }
}
/*
-------------------------------------
BORDERS
------------------------------------- */
.brd {
    .brd-main {
        img { 
            vertical-align: super;
            box-sizing: border-box; 
        }
    }
}
/*
-------------------------------------
INSERT
------------------------------------- */
.ins {
    .ins-main {
        img, ul, li, a, a > * { box-sizing: border-box; }
        ul {
            width: 100%;
            padding: 0;
            Margin: 0;
            margin: 0;
            text-align: left;
            li { 
                list-style: none;
                width: 100%;
                float: left;
                a {
                    width: 100%;
                    text-decoration: none;
                }
                a > *, > * {
                    /*display: inline-block;*/
                    float: left;
                    vertical-align: top;
                }
            }
        }
    }
    &.list {
        .ins-main {
            * {
                font-size: 20px;
                mso-line-height-rule:exactly;
                line-height: 25px;
                text-align: left;
            }
            a > * {
                float: left;
                text-decoration: none;
                vertical-align: text-top;
            }
            a {
                text-decoration: none;
                color: $black;
            }
            strong {
                font-family: $sans-serif;
                font-weight: 900;
                color: $red;
            }
            span {
                font-family: $serif;
                color: $black;
                text-align: left;
            }
            &.img {
                * {
                    mso-line-height-rule:exactly;
                    line-height: normal;
                }
            }
        }
        &.map {
            .ins-main {
                h1, h2, h3, h4, h5, h6, p {
                    text-align: center;
                }
                ul {
                    li {
                        * {
                            font-size: 17px;
                            vertical-align: baseline;
                        }
                        strong { 
                            width: 35%;
                            letter-spacing: -0.5px; 
                        }
                        span { 
                            width: 65%;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    &.book {
        h3, h5, p {
            float: left;
        }
    }
    &.one-column {
        &.cruises {
            h5 {
                span {
                    padding-right: 10px;
                }
            }
        }
    }
    &.two-column {
        img, div {
            float: left;
        }
        h1, h2, h3, h4 h5, h6, p {
            text-align: left;
        }
        /*div {
            Margin-top: -10px;
            margin-top: -10px;
        }*/
        .ins-main {
            .item {
                text-align: center;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    &.map {
        h1, h2, h3, h4, h5, h6 p {
            text-align: center;
        }
    }
}
/*
-------------------------------------
BLOG-TABLE
------------------------------------- */
.table {
    &-sub, &-main {
        .inline {
            width: 100%;
            display: block;
            float: left;
        }
    }
}
/*
-------------------------------------
SECTION-SPECIFIC
------------------------------------- */
/*INTRO*/
.sub.hero {
    .img .img-main img {
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
    }
}
.main.intro {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    .ins-main {
        li sub {
            height: 10px;
            min-height: 10px;
            max-height: 10px;
        }
    }
}
.blog {
    .txt {
        &-main {
            .inline {
                text-align: center;
                h5, h6 {
                    width: 33%;
                    float: left;
                }
                h5 {
                    strong { color:$red; }
                }
            }
        }
    }
    .ins.table {
        .ins-main {
            h3 { Margin-bottom: 10px; margin-bottom: 10px; }
            p { text-align:left; }
            .table {
                &-main, &-sub {
                    h5 {
                        width: 50px;
                        font-size: 19px;
                        font-weight: 900;
                    }
                    td {
                        float: left;
                    }
                }
                &-main {
                    * {
                        mso-line-height-rule: exactly;
                        line-height: normal;
                    }
                    h5, p {
                        vertical-align: text-top;
                        float: left;
                        display: inline-block;
                    }
                    h5 {
                        color: $red;
                        Margin-top: 4px;
                        margin-top: 4px;
                        Margin-right: 15px;
                        margin-right: 15px;
                    }
                    h4 {
                        font-family: $serif;
                        font-size: 20px;
                        color: $black;
                        text-decoration: underline;
                    }
                    p {
                        width: auto;
                        Margin-bottom: 0;
                        margin-bottom: 0;
                    }
                    
                }
                &-sub {
                    
                    h3 {
                        sub {
                            border-bottom: 1px solid black;
                        }
                    }
                }
            }
        }
    }
}
.cruises {
    &-main {
        h4 {
            font-family: $sans-serif;
            text-align: center;
            Margin: 0;
            margin: 0;
            font-weight: 900;
            font-size: 24px;
            color: #CB1414;
            text-decoration: none;
        }
    }
}
/*
-------------------------------------
QUERIES
------------------------------------- */
.ins.one-column.shop.cruises.cruises-sub {
    h5, p {
        width: auto !important;
    }
}
.mobileHotfix2, 
.mobileHotfix1, 
.mobileHotfix2 span, 
.mobileHotfix1 span {
    font-family: $sans-serif !important;
}
@media only screen and (max-device-width: 740px) {
    body {
        table.body > tbody > tr > td:not(.container) {
            display: none !important;
        }
        h2,
        table h2 {
            font-size: 46px !important;
            line-height: 1 !important;
            text-decoration: none !important;
        }
        h3,
        h3 span,
        table h3,
        table h3 span,
        table tbody h3,
        table tbody h3 span,
        table tbody tr h3,
        table tbody tr h3 span,
        table tbody tr td h3,
        table tbody tr td h3 span {
            font-size: 32px !important;
            font-weight: 900;
            line-height: 1 !important;
            text-decoration: none !important;
        }
        h4,
        h4 span,
        table h4,
        table h4 span,
        table tbody h4,
        table tbody h4 span,
        table tbody tr h4,
        table tbody tr h4 span,
        table tbody tr td h4,
        table tbody tr td h4 span,
        .ins.one-column h4,
        .ins.one-column h4 span,
        .ins.two-column h4,
        .ins.two-column h4 span,
        .ins.one-column.cruises tbody tr td h4,
        .ins.one-column.cruises tbody tr td h4 span {
            font-size: 30px !important;
            text-decoration: none !important;
        }
        h5,
        h5 span,
        table h5,
        table h5 span,
        table tbody h5,
        table tbody h5 span,
        table tbody tr h5,
        table tbody tr h5 span,
        table tbody tr td h5,
        table tbody tr td h5 span,
        .ins tbody tr td h5 span,
        .ins.two-column.shop tbody tr td h5 span {
            font-size: 24px !important;
            text-decoration: none !important;
        }
        table tbody td tr p, table p, .txt p, .ins p, .ins-main p, .ins .ins-main p, .ins .two-column p, .ins .one-column p, .ins.list p, td p, tr p, p, ul, ol, table tbody td tr p strong, table p strong, .txt p strong, .ins p strong, .ins-main p strong, .ins .ins-main p strong, .ins .two-column p strong, .ins .one-column p strong, .ins.list p strong, td p strong, tr p strong, p strong, ul strong, ol strong, table tbody td tr p span, table p span, .txt p span, .ins p span, .ins-main p span, .ins .ins-main p span, .ins .two-column p span, .ins .one-column p span, .ins.list p span, td p span, tr p span, p span, ul span, ol span {
            font-size: 26px !important;
            line-height: 36px !important;
            text-decoration: none !important;
        }
        table.main, table.sub {
            width: 95% !important;
            margin: 0 auto !important;
            > tr {
                width: 95% !important;
                margin: 0 auto !important;
            }
            .wrapper {
                width: 95% !important;
                margin: 0 auto !important;
            }
            .btn {
                width: 95% !important;
                max-width: 95% !important;
            }
            .btn td.ms-width-50 {
                display: none !important;
            }
        }
        .main .ins-main {
            width: 100% !important;
            strong {
                line-height: normal !important;
            }
            span {
                display: block !important;
                line-height: 38px !important;
            }
        }
        .sub .ins-main {
            width: 100% !important;
        }
        .ins.list.hero .ins-main {
            strong, span {
                font-size: 27px !important; 
            }
        }
        .ins.one-column h5 span, .ins.two-column h5 span {
            display: block !important;
        }
        .ins.one-column.shop.cruises.cruises-sub {
            h5, p, p strong {
                line-height: 1 !important;
                margin-bottom: 5px !important;
            }
        }
        .ins.two-column img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
        .btn a {
            font-size: 24px !important;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }
        table.ins.cruises.cruises-sub tbody tr td {
            width: 90% !important;
            padding-left: 15% !important;
        }
        .ins.ins-main.shop.digital td {
            padding-bottom: 25px !important;
            margin-bottom: 25px !important;
        }
        .ins.ins-main.shop.digital td,
        .ins.ins-main.shop.digital h2,
        .ins.ins-main.shop.digital h3,
        .ins.ins-main.shop.digital h4,
        .ins.ins-main.shop.digital h5,
        .ins.ins-main.shop.digital p {
            width: 100% !important;
        }
        .ins.cruises.cruises-main tbody tr td h4 {
            font-family: $sans-serif !important;
        }
        .mobileHotfix, 
        table .mobileHotfix,
        table tr td .mobileHotfix,
        table tbody tr td .mobileHotfix {
            &1, &1 span {
                font-family: $sans-serif !important;
                font-size: 24px !important;
            }
            &2, &2 span {
                font-family: $sans-serif !important;
                font-size: 30px !important
            }
        }
        .mobileHotfix2, 
        .mobileHotfix1, 
        .mobileHotfix2 span, 
        .mobileHotfix1 span {
            font-family: $sans-serif !important;
        }
        .auctions {
            h5 {
                font-size: 21px !important;
            }
            .ms-width-50 {
                width: 25px !important;
            }
        }
        .hands {
            h4, h5, p, a {
                span {
                    display: inline-block !important;
                }
            }
        }
    }
}